.aspl-ads { 
  border: 1px solid #172e4b;
  background: #555753;
  color: white;
}

.ads-title { 
  float: right;
  background: #172e4b;
  color: white;
  padding: 2px;
  font-size: 8pt;
  margin-top: -17px;
  
}

.aspl-ads td { 
  padding: 5px;
}

.aspl-ads .url { 
  font-weight: bold;
  
}

.aspl-ads .soft-ref { 
  text-decoration: none;
  color: white;
}

