body { 
  font-family: Sans-Serif,Free-Sans,Arial,Helvetica;
  font-weight: normal;
  font-size:   small;
  color: #636363;
  text-align: justify;
}

h1, h2, h3 { 
  color: #000090;
  font-weight: normal;
}

h1 { 
  font-size: 140%;
}

h2 { 
  font-size: 130%;
}

h3 { 
  font-size: 120%;
}

a { 
  color: #6394ec;
}

.main-page { 
   margin-top: 10px;
/*   border: 1px solid #000000; */
   position: absolute; left: 50%; top: 0%; z-index: 1;
   margin-left: -300px;
   width: 600px;
}

.header-content { 
   margin-bottom: 10px;
   border-bottom: 1px dotted #000090;
   height: 150px;
}


.slogan { 
   border: 0;
   float: left;
   padding-left: 10px;
}
.aspl-logo { 
   border: 0;
   float: right;
   padding-right: 10px;
}

.left-content { 
   width: 200px;
   float: left;
}

.left-content-25 { 
   padding: 0;
   margin: 0;
   width: 100px;
   float: left;
}

.left-content-25 img { 
   margin-left: 15px;
}

.pre-menu { 
  position: absolute; left: 25px; top: 120px; z-index: 1;
}

.pre-menu a { 
  border: 1px solid #8181a9;
  color: #8181a9;
  text-decoration: none;
  padding: 2px;
  margin: 2px;
  margin-right: 10px;
  font-size: 120%;
  font-weight: bold;
}

.pre-menu a:link { 
  color: #8181a9;
  text-decoration: none;
}

.pre-menu a:visited { 
  color: #8181a9;
  text-decoration: none;
}

.pre-menu a:hover { 
  background: #8181a9;
  color: white;
  text-decoration: none;
}

.pre-menu a:active { 
  color: #8181a9;
  text-decoration: none;
}

pre.code { 
  border: 1px dashed #626262;
  color: #556480;
  background: #cfd8e7;
  padding: 10px;
  font-family: monospace, courier;
}

.right-content { 
   padding-left: 10px;
   width: 380px;
   float: right;
}

.right-content-75 { 
   padding-left: 10px;
   width: 480px;
   float: right;
}

ul.news { 
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.news li.header-news { 
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #000090;

}

.central-link { 
  width: 100%;
  text-align: center;
  color: #6394ec;
  text-decoration: none; 
}

.central-link img { 
  border: 0;
  text-align: center;
}

.central-link a { 
  text-decoration: none;
}

.footer { 
   margin-top: 20px;
   border-top: 1px dotted #000090;
   float: left;
   width: 100%;
}

.footer p { 
   text-align: center;
   margin: 0;
   padding: 0;
   padding-top: 5px;
   font-size: 80%;
   color: #d6d6d6;
}

.icons { 
   border: 0;
   width: 100%;
   text-align: center;
}

.icons img { 
   border: 0;
   padding-top: 20px;
}

.icons a { 
   text-decoration: none;
   padding: 0;
}


ul.list { 
  list-style: square;
}

.list  li { 
  margin-bottom: 10px;
}

.donation { 
  text-align: center;
}

.validation { 
  padding: 20px;
  padding-top: 5px;
  width: 100px;
  float: left;
}

.validation img { 
  border: 0;
}